:root {
  --open-sans: "Open Sans", sans-serif;
  --nunito-sans: "Nunito Sans", sans-serif;

  --accent-light: #ffc725;
  --accent-dark: #f37335;
  --dark: #443737;
  --white: #ffffff;
  --light-rgb: 255, 255, 255;
  --menu-name: 68, 55, 55;
  --footer-bkg: 30, 47, 64;

  --hero-image: url(../images/hero.jpg);
  --banner-image: url(../images/homemade-tasty-beef-burger.jpg);
}

hr {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--open-sans);
  margin: 0; /* Сброс стандартных отступов */
}

a {
  text-decoration: none;
}

.container {
  /* background-color: red; */
  width: 100%;
  max-width: 1182px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* header block */
.header {
  display: flex;
  align-items: center;
  gap: 196px;
  padding-top: 26px;
  padding: 26px 0;
}

.logo {
  display: block;
  width: 176px;
  height: 56px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.nav {
  flex-grow: 1;
  display: flex;
  gap: 47px;
}

.nav-link {
  position: relative;
  text-decoration: none; /* Убираем стандартное подчёркивание */
  color: #333; /* Цвет текста */
  font-size: 20px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Отступ от текста */
  left: 50%; /* Позиционируем из центра */
  width: 100%; /* Полная ширина сразу */
  height: 2px; /* Толщина линии */
  background-color: var(--accent-light); /* Цвет подчёркивания */
  transform: translateX(-50%) scaleX(0); /* Начинаем с нулевого масштаба */
  transform-origin: center; /* Точка трансформации — центр */
  border-radius: 1.5px; /* Скругление углов */
  transition: transform 0.3s ease-in-out; /* Анимация трансформации */
}

.nav-link:hover::after {
  transform: translateX(-50%) scaleX(1); /* Растягиваем до 100 % */
}

.cart {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--dark);
  font-size: 15px;
  font-weight: 700;
  position: relative;
}

.cart::before {
  content: "";
  display: block;
  width: 30px;
  height: 26px;
  background-image: url(../images/shopping-cart.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.cart-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  color: var(--white);
  background-color: var(--accent-dark);
  border-radius: 100%;
  position: absolute;
  left: 17px;
  bottom: 0px;
}
/* end of header block */

/* hero block */
.hero {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 142px 0;
}

.hero-title {
  color: rgb(var(--light-rgb));
  font-family: var(--nunito-sans);
  text-transform: capitalize;
  font-size: 79px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 18px;
}

.hero-description {
  max-width: 320px;
  margin: 0 auto;
  font-family: var(--nunito-sans);
  color: rgb(var(--light-rgb), 0.8);
  font-size: 15px;
  line-height: 160%;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  gap: 16px;
  padding-left: 0px;
  color: rgba(var(--light-rgb), 0.5);
}

.breadcrumbs-link {
  color: inherit;
  transition: color 0.3s;
}

.breadcrumbs-link:hover {
  color: var(--accent-light);
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "/";
  margin-left: 12px; /* Используем gap для основного расстояния */
}

/* banner block */
.banner {
  padding-top: 142px;
  padding-bottom: 100px;
}

.banner-wrapper {
  padding-top: 49px;
  padding-left: 100px;
  padding-bottom: 100px;
  background-image: var(--banner-image);
  margin-bottom: 0px;
}

.banner-discount {
  display: block;
  font-family: var(--open-sans);
  color: rgba(var(--light-rgb), 1);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  background-color: var(--accent-dark);
  border-radius: 14px;
  width: 88px;
  padding: 5px;
  margin-bottom: 7px;
}

.banner-wrapper h2 {
  font-family: var(--nunito-sans);
  color: rgba(var(--light-rgb), 1);
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 9px;
}

.banner-description {
  color: rgba(var(--light-rgb), 0.8);
  font-family: var(--open-sans);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  max-width: 353px;
}

.banner-btn {
  font-family: var(--nunito-sans);
  font-style: Bold;
  font-size: 14px;
  font-weight: 700;
  width: 170px;
  height: 58px;
  background-color: var(--accent-light);
  border-width: 0px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.banner-btn:hover {
  background-color: var(--accent-dark);
}

/* Menu block */
.menu-header {
  display: flex;
  justify-content: space-between;
}
#drop-down {
  appearance: none;
  flex-basis: 300px;
  font-family: "Open Sans";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  width: 277px;
  height: 42px;
  border-radius: 22px;
  padding: 20px;
  margin-top: 6px;
}

.menu-title {
  margin-top: 0px;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-family: var(--nunito-sans);
  font-style: Bold;
  font-size: 44px;
  font-weight: 700;
  line-height: 56px;
}

.menu-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 50px 20px;
}

.menu-thumb {
  width: 100%;
  height: 430px;
  position: relative;
  overflow: hidden;
}
.menu-thumb img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--nunito-sans);
  text-align: center;
  gap: 0px;
  padding-bottom: 0px;
}

.menu-name {
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  padding-top: 21px;
  margin: 0px;
}

.menu-price {
  color: rgba(68, 55, 55, 0.5);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 5px;
}

.menu-btn {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  background-color: var(--accent-light);
  color: rgba(var(--dark) 1);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  padding-left: 60px;
  width: 152px;
  height: 38px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-btn::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;

  background-image: url(../images/cart.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.menu-btn:hover {
  background-color: var(--accent-dark);
}

/* additions block */
.additions-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 50px 20px;
  margin-top: 30px;
}

.additions-title {
  font-family: var(--nunito-sans);
  font-style: Bold;
  font-size: 44px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  padding: 0;
  padding-top: 100px;
  margin: 0;
}

.additions-thumb {
  width: 100%;
  height: 430px;
  position: relative;
  overflow: hidden;
}

.additions-thumb img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.additions-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--nunito-sans);
  text-align: center;
  padding: 0px;
}

.additions-name {
  color: rgba(var(--menu-namebhn), 1);
  font-family: var(--nunito-sans);
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  margin-top: 20px;
  margin-bottom: 0;
}

.additions-price {
  color: rgba(var(--menu-name), 0.5);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 5px;
}

.additions-btn {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  background-color: var(--accent-light);
  color: rgba(68, 55, 55, 1);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  padding-left: 60px;
  width: 152px;
  height: 38px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.additions-btn::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(../images/cart.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.additions-btn:hover {
  background-color: var(--accent-dark);
}
/* end additions block */

/* footer */

.footer {
  background: rgba(30, 47, 64, 1);
  margin-top: 140px;


  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-wrapper {
  /* background-color: red; */
  display: flex;
  justify-content:space-between;
  gap: 0px 137px;
  align-items: top;
  padding-top: 120px;
  padding-bottom: 120px;
}

.footer-logo {

  width: 63px;
  height: 56px;
  background-image: url(../images/Logo_light.svg);
  background-repeat: no-repeat;
}

.footer .links {

  color: rgba(var(--light-rgb), 0.9);
  font-family: var(--nunito-sans);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2px;
  padding-top: 0;
}

.footer h3 {
  margin: 0px;
  text-transform: uppercase;
}

.footer .list {
  list-style-type: none;
  padding-left: 0;
}

.footer li {
  color: rgba(var(--light-rgb), 0.9);
  font-family: "Open Sans";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: -0.1px;
}

 .footer .weekdays {
  text-transform: uppercase;
}

.footer p {
  margin: 0;
}

.phones-list {
  padding: 0;
}

.phones-list a {
  display: block;
  text-decoration: none;
  color: var(--accent-light);
  font-family: var(--nunito-sans);
  font-size: 20px;
  font-weight: 800;
  line-height: 38px;
  transition: color .3s ease;
}

.phones-list a:hover {
  color: var(--accent-dark);
}